    
        body{
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 100vh;
            font-family: "Bungee" , Georgia, 'Times New Roman', Times, serif;
            
        }
        .clock{
            background-color: aqua;
            border-radius: 50%;
            height: 500px;
            width: 500px;
            border: 4px solid white;
            position: relative;
        
        }
       .clock .number{
        box-sizing: border-box;
        --rotation : 0deg ;
          position: absolute;
          text-align: center;
          left: 50%;
          height: 100%;
          transform: translateX(-50%) rotate(var(--rotation));
         font-size: 2rem;
         font-weight: 500;
         padding: 10px;
      
        }
           .clock .number div {
    transform: rotate(calc(var(--rotation) * -1));
}
       .clock .number_1 { --rotation : 30deg ;}
       .clock .number_2 { --rotation : 60deg ;}
       .clock .number_3 { --rotation : 90deg ;}
       .clock .number_4 { --rotation : 120deg ;}
       .clock .number_5 { --rotation : 150deg ;}
       .clock .number_6 { --rotation : 180deg ;}
       .clock .number_7 { --rotation : 210deg ;}
       .clock .number_8 { --rotation : 240deg ;}
       .clock .number_9 { --rotation : 270deg ;}
       .clock .number_10{ --rotation : 300deg ;}
       .clock .number_11{ --rotation : 330deg ;}

    
       .clock .hand {
            background-color: black;
            position: absolute;
            width: 12px;
            left: 50%;
            bottom: 50%;
            transform-origin: bottom;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            --rotation : 0 ; 
            transform:translate(-50%)  rotate(calc(var(--rotation) * 1deg));
            transition: transform 0.2s cubic-bezier(0.4, 2.3, 0.3, 1);
       }
  .clock .center {
    content : "" ;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 10;
  }
  .hand.hour{
     
     
    width: 10px; height: 120px; 
  }
  .hand.minute{
    width: 6px;  height: 170px;
    background-color: #333;
  }
  .hand.second{
    width: 3px;  height: 200px; 
    background-color: red;
    transition: transform 0.1s cubic-bezier(0.4, 2.08, 0.55, 0.44);

  }



